* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main_contant {
    display: flex;
    margin: 30px auto;
    align-items: center;
    justify-content: space-between;
}

.contant_text {
    width: 70%;
}
