.content_login {
    width: 70%;
    margin: 20px auto;
    border: 4px solid #a1a1a1;
    border-radius: 10px;
}

.login_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.login_form {
    width: 35%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title_login {
    margin-bottom: 20px;
}

.input_login {
    padding: 5px;
    margin-bottom: 20px;
}

.login_btn {
    width: 25%;
    padding: 5px;
}